/* .nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 3px rgb(0 0 0 / 25%), 0 2px 3px -2px rgb(0 0 0 / 15%);
    background-color: #2589d0;
}
.nav-link:hover{
    color: azure;
} */