body {
    padding-top: 100px;
}

.buliding-select {
    text-align: center;
    letter-spacing: .25rem;
}

.bm {
    border: none;
    background-color: #fff;
}

.bm svg {
    color: rgb(255 215 60);
}

.btn_h {
    background-color: #99CC99;
    color: black;
    border-radius: 2rem;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 5px #669966;
    transition: .4s;
    font-size: 20px;
    width: 250px;
    height: 40px;

}

.btn_h:active{
    -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
  background: #009933;
  color: #000;
}

 .ab{
    background-color: #99CC99;
    width: 300px;
    height: 36px;
    border-radius: 30px 0 10px 0;
    margin-left: 300px;
    margin-right: 20px;
    font-size: 27px;
    border-bottom: solid #669966;
} 

/* .a{
    
    font-weight: bold;
    color: #6091d3;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 2rem;
    font-size: 20px;
    margin-left: 200px;
    margin-right: 20px;
} */