.search-form {
    align-items: center;
    background: #fff;
    border-radius: .375rem;
    display: flex;
}

.search-input {
    outline: none;
    border: 0;
    padding-left: 8px;
    width: 200px;
}

.btn-config {
    color: black;
    background-color: #ced4da;
    border: 0;
    
}

.btn-config:hover {
    color: #fff;
}

.btn-config::after {
    border: 0;
}

.btn-config:focus {
    outline: none;
}

.navi {
    display: flex;
}

@media (min-width: 1000px) {
    .toggle {
        display: none;
    }
}

@media (max-width: 1000px) {
    .navi {
        display: none;
    }
}
.px-2 {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 5px #A9A9A9;
    transition: .4s;
    /* border-top-color: black;
    border-top-style: solid; */
}

.px-2:active{
     -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
  background: #696969;
  color: #FFF;  
}