body {
    padding-top: 100px;
}
button{
    padding: 5px;
    font-family: inherit;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 35px;
    font-weight: bold;
    

}
/*　ボタンのスタイル */
.botton{
    position: relative;
    padding: 0 24px;
    overflow: hidden;
    color: #222;
    text-align: center;
    overflow-wrap: anywhere;
    background: transparent;
}

.favorite {
     
    background-color: #CCFFCC;
    color: black;
    border-radius: 2rem;
    font-size: 50px;  
    display: inline-block;
    text-decoration: none;
    width: 250px;
    height: 80px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 5px green;
    transition: .4s;
}



.recommend {
    background-color: #CCFFCC;
    color: black;
    border-radius: 2rem;
    font-size: 50px;  
    display: inline-block;
    text-decoration: none;
    width: 250px;
    height: 80px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 5px green;
    transition: .4s;
}
.result {
    background-color: #CCFFCC;
    color: black;
    border-radius: 2rem;
    font-size: 50px;  
    display: inline-block;
    text-decoration: none;
    width: 250px;
    height: 80px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 5px green;
    transition: .4s;
}

 .botton::after{
    position: absolute;
    justify-content: space-between;
    
}

.favorite button:focus {
    outline: none;
}

.recommend button:focus {
    outline: none;
}
.result button:focus {
    outline: none;
}



  /* .favorite::after{
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #339966;
    transform: scaleX(0);
    transform-origin: right top;
    position: absolute;
    justify-content: space-between;
}

.recommend::after{
     bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #82a06c;
    transform: scaleX(0);
    transform-origin: right top;
    position: absolute;
    justify-content: space-between;
}

.result::after{
     bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #82a06c;
    transform: scaleX(0);
    transform-origin: right top;
    position: absolute;
    justify-content: space-between; 
} */ 
.favorite:active {
    -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
  background: #336633;
  color: #FFF;
}
.recommend:active {
    -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
  background: #336633;
  color: #FFF;
}
.result:active{ 
    -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
  background: #336633;
  color: #FFF;
}



/* @media (any-hover: hover){
    .favorite::after{
        transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .favorite:hover::after{
        transition: transform 0.4s cubic-bezier(0.9, 0, 0, 1);
        transform: scaleX(1);
        transform-origin: left top;
        
    }

    .recommend::after{
        transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .recommend:hover::after{
        transition: transform 0.4s cubic-bezier(0.9, 0, 0, 1);
        transform: scaleX(1);
        transform-origin: left top;
        
    }

    .result::after{
        transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .result:hover::after{
        transition: transform 0.4s cubic-bezier(0.9, 0, 0, 1);
        transform: scaleX(1);
        transform-origin: left top;
        
    }
} */

#roulette {
    margin: 50px;
    position: relative;
}

#pointer {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid black;   /* 矢印を下向きに変更 */
    z-index: 1;
}
#spin {
    background-color: white;
    color: black;
    border-radius: 50%;
    font-size: 50px;  
    display: inline-block;
    text-decoration: none;
    width: 200px;
    height: 200px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 5px #c0c0c0;
    transition: .4s;
}

#spin:active {
    -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

#spin:focus {
    outline: none;
}

#canvas {
    margin: 0 auto;
}


