body {
    padding-top: 100px;
}

.bm {
    border: none;
    background-color: transparent;
}

.bm svg {
    color: gray;
}

.bm:focus {
    outline: none;
}

.bm-fill {
    border: none;
    background-color: transparent;
}

.bm-fill svg {
    color: rgb(255 215 60);
}

.bm-fill:focus {
    outline: none;
}