body {
    padding-top: 100px;
}

.star {
    border: none;
    background-color: transparent;
}

.star svg {
    color: gray;
}

.star:focus {
    outline: none;
}

.star-fill {
    border: none;
    background-color: transparent;
}

.star-fill svg {
    color: rgb(245, 245, 50);
}

.star-fill:focus {
    outline: none;
}