.tag-add {
        border: none;
        background-color: transparent;
    }

    .tag-add:focus {
        outline: none;
    }

@media(min-width:1000px) {
    body {
        padding-top: 100px;
    }
}

@media(max-width:1000px) {}