body {
    padding-top: 100px;
}

.tel input::placeholder {
    text-align: center;
}

.tel input {
    text-align: center;
}

.tag-add {
    border: none;
    background-color: transparent;
    color: rgb(132, 182, 247);
}

.tag-add:hover {
    color: rgb(0, 110, 255);
}