body {
    padding-top: 100px;
}

#tel::placeholder {
    text-align: center;
}

#tel {
    text-align: center;
    letter-spacing: 1px;
}

.tag-add {
    color: rgb(0, 110, 255);
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.tag-add:hover {
    color: rgb(132, 182, 247);
}

.tag-add:focus {
    outline: none;
}

.filelabel {
   color: white;
   border-radius: 3em;
   padding: 12px 9px;
   display: inline-block;
}
.filelabel img {
   vertical-align: bottom;
}
.filelabel:hover {
   opacity: 0.5;
   border: 2px solid red;
   cursor: pointer;
}

#filesend {
    display: none;
}

#preview {
    display: none;
}

.Error {
    color: red;
    font-weight: bold;
}

.buildError {
    top: 6px;
    left: 80px;
}