.img {
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.map {
    transition: 0.5s;
}

.map:hover {
    opacity: .5;
    transition: 0.5s;
}

@media(min-width:1000px) {
    body {
        padding-top: 100px;
    }
}