.img {
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.map {
    transition: 0.5s;
}

.map:hover {
    opacity: .5;
    transition: 0.5s;
}

*,
body,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* ↓ スライドの外枠 */
.slide-wrapper {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    /* はみ出したスライドを隠す */
}

/*  ↓ スライド（コンテンツ） */
.slide {
    /*スライド全体 */
    height: 100%;
    display: flex;
    transition: all 0.6s;
}

.slide div {
    /* スライド */
    height: 100%;
    font-size: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* ↓ 左右のボタン */
.next {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(45deg) translateY(50%);
    transform: rotate(45deg) translateY(50%);
}



.prev {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 25px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(-135deg) translateY(-50%);
    transform: rotate(-135deg) translateY(-50%);
}

/* ↓ インジケーター */
.indicator {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    column-gap: 18px;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.indicator li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    list-style: none;
    background-color: #fff;
    border: 2px #000 solid;
    cursor: pointer;
}

.indicator li:first-of-type {
    background-color: #000;
}

.bm, .up, .down {
    border: none;
    background-color: transparent;
}

.bm svg {
    color: gray;
}

.bm:focus, .bm-fill:focus, .up:focus, .down:focus {
    outline: none;
}

.bm-fill svg {
    color: rgb(255 215 60);
}


@media(min-width:1000px) {
    body {
        padding-top: 100px;
    }
}