body {
    padding-top: 100px;
}

.tel input::placeholder {
    text-align: center;
}

.tel input {
    text-align: center;
}

.tag-add {
    border: none;
    background-color: transparent;
    color: rgb(132, 182, 247);
}

.tag-add:hover {
    color: rgb(0, 110, 255);
}

.filelabel {
   color: white;
   border-radius: 3em;
   padding: 12px 9px;
   display: inline-block;
}
.filelabel img {
   vertical-align: bottom;
}
.filelabel:hover {
   opacity: 0.5;
   border: 2px solid red;
   cursor: pointer;
}

#filesend {
    display: none;
}

#preview {
    display: none;
}

#preview div {
    display: inline;
}

#preview img:hover {
    opacity: 0.5;
    cursor: pointer;
}